/* Sections */
#title {
  color: white;
  background-color: #3A5A40;
}

#features {
  background-color: white;
  padding: 8% 12%;
  position: relative;
}

#projects {
  background-color: #588157;
  color: #fff;
}

#courses {
  background-color: #588157;
  padding-bottom: 3%;
}

#hobbies {
  padding: 8% 12%;
}

#cta {
  background-color: #3A5A40;
  color: white;
  padding: 120px;
}

#footer {
  background-color: #fff;
  padding: 2% 4%;
}

/* General Classes */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Nav bar and title sections */
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */
.rapha-nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.nav-item {
  font-size: 1.5rem;
  padding: 20px;
}

/* Title section */
.meet-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  color: white;
  margin-top: 40px;
}

.rapha-profile-pic {
  margin-top: 60px;
  width: 17%;
  position: absolute;
  right: 25%;
  border-radius: 5px;
}

.subtitle-container {
  margin-top: 50px;
}

/* Features section */
.features {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  padding: 3%;
}

.features-title {
  font-weight: 900;
}

.features-desc {
  color: #8f8f8f;
  width: 40%;
  margin: auto;
}

.features-icon {
  padding-top: 8%;
  padding-bottom: 8%;
  color: #A3B18A;
}

.features-icon:hover {
  color: #3A5A40;
}

/* Projects Section */
.projects-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.projects-description-text {
  font-size: 1.2rem;
  line-height: 1.3;
  color: white;
}

.projects-image {
  width: 100%;
  border-radius: 5px;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 8% 12%;
}

.repo-link {
  text-decoration: none;
  color: #c7c2c2;
}

.repo-link:hover {
  color: white;
}

/* Courses */

.courses-text {
  color: white;
  margin-bottom: 30px;
}

/* Hobbies */
.hobbies-col {
  padding: 3%;
}

.card-header {
  font-weight: bold;
}

.hobbies-header {
  font-weight: bold;
}

/* Call to Action Section */
.cta-text {
  font-size: 3rem;
  font-weight: bold;
  margin: 50px;
}

.cta-icon {
  transform: scale(1.5);
  margin-right: 30px;
}

/* Footer Section  */

.footer-links { 
  color: #3A5A40;
  text-decoration: none;
}

/*.footer-icons {
  transform: scale(2.0);
  margin: 30px;
}*/

.footer-icon {
  transform: scale(2.0);
  margin: 25px 25px;
  transition: .2s;
}

.footer-icon:hover {
  transform: scale(2.7);
}
}

/* HTML Tags  */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Responsive behavior */
@media screen and (max-width: 1400px) {
  .img-phone-dog {
    position: static;
    display: flex;
    margin: 100px;
    transform: rotate(0);
    width: auto;
    text-align: center;
  }

  #title {
    text-align: center;
  }
}
